body {
    background-color: rgb(71, 68, 68);
}

.page-header {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

.myTeamText {
    border-top: 10px solid blue;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

.rosterClass{
    padding: 25px;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.manager {
    color: red;
}

.engineer {
    color: orange;
}

.intern {
    color: yellow;
}

.roster-card{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 10px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
    background: darkblue
}

ul {
    border-top: 3px solid gray;
}